.navbar{
    height:120px; 
    width: 100%;
    background-color:  #5881A6;
    background-repeat: no-repeat center;   
    background-size: cover;   
       
}
.containerrdv{
    background-image: url("https://img.freepik.com/free-photo/hand-presenting-model-house-home-loan-campaign_53876-104970.jpg?w=2000");
}

.containera{
    width: 1800px;
    background-image: url("https://www.cnet.com/a/img/resize/b5be2f3e5d1141f993802fe8709d5787f2e32914/hub/2019/10/11/1f3c5a3a-fe55-48cf-9465-1dd31f970430/google-nest-mini-00-03-53-04-still001.jpg?auto=webp&fit=crop&height=675&width=1200");
}

.navbar ul a{
    color:white;

}

html,body{
    height: 100%;
}


.imgdetail{
    height: 150px;
    width: 700px;
    background-color: rgb(157, 218, 233);
}


