
{% extends 'base.html'%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text- center mt-2">Détail habitat</h1>
            <img class="imgdetail" style="height: 500px;" src="{{detail_article.image.url}}" alt="" >
            <h2>{{detail_article.title}}</h2>
            <p>{{detail_article.desc}}</p>
        </div>
        <div class="col-md-4" >
            <h3 class="mt-2" >Articles en relation</h3> 
                <div class="row">
                    {% for art in relations %} 
                    <div class="col-md-8">
                        <img src ="{{art.image.url}}" alt =""  style="max-width:200px;"> <br> <br>
                    </div>
                    
                    <div class="col-4">
                    {{ art.title}} <br>
                    {{ art.desc}} 
                    </div>
                    
                    {% endfor%}
                </div>    
            
        </div> 
    </div>   
</div>  

{% endblock%}
